@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Tahoma, sans-serif;
    background-color: #f4f0e5;
}

.alinhamento {
    width: 800px;
    text-align: center;
    margin: 0 auto;
}

#cabecalho img {
    width: 200px;
}

#cabecalho ul {
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e29b50;
}

#cabecalho a {
    color: #904b02;
}

#sobre h1 {
    margin-top: 30px;
}

#sobre h2 {
    margin: 10px 0px 20px 0px;
    color: #e29b50;
}

#sobre img {
    width: 800px;
    margin-bottom: 20px;
}

#produtos {
    background-color: #ef9b40;
    color: #ffffff;
    padding-bottom: 15px;
} 

#produtos h3 {
    font-size: 25px;
}

#produtos h4 { 
    font-size: 20px;
}

#produtos p {
    width: 480px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 5px;
    line-height: 24px;
}

#produtos img {
    width: 400px;
}

.espacamento-produtos {
    padding-top: 25px;
}

#contato {
    margin-bottom: 30px;
}

.espacamento-contato {
    margin-top: 15px;
}

#contato span {
    font-weight: bold;
}
